// Ng zorro
.ant-col { display: inline-block; }

/* .ant-layout-content {
    padding-top: 64px; //height navbar
}
 */
// Content height 100% and footer absolute
.layout-h-100 {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 418px; /* height of footer */
} 
@media (max-width: 310px) {
    .layout-h-100 {
        padding-bottom: 256px; 
    } 
}

@media (min-width: 311px) {
    .layout-h-100 {
        padding-bottom: 192px;
    } 
}

@media (min-width: 343px) {
    .layout-h-100 {
        padding-bottom: 172px;
    } 
}

@media (min-width: 514px) {
    .layout-h-100 {
        padding-bottom: 152px;
    } 
}

@media (min-width: 514px) {
    .layout-h-100 {
        padding-bottom: 130px;
    } 
}

/* .ant-layout-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
 */
/* General */
html { scroll-behavior: smooth; }
body { color: #000 !important }

/* Grid */
.container {
    max-width: 1040px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-full {
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 1100px) { 
    .container-full {
        max-width: 1040px;
        padding-right: 15px;
        padding-left: 15px;
    } 
}

// Displays
.d-flex { display: flex !important; }
.d-none { display: none !important; }
@media (min-width: 1200px) { .d-xl-none { display: none !important; } }
@media (min-width: 992px) { .d-lg-none { display: none !important; } }
@media (min-width: 768px) { .d-md-none { display: none !important; } }
@media (min-width: 576px) { .d-sm-none { display: none !important; } }
@media (max-width: 576px) { .d-xs-none { display: none !important; } }

.d-block { display: block; }
@media (min-width: 1200px) { .d-xl-block { display: block !important; } }
@media (min-width: 992px) { .d-lg-block { display: block !important; } }
@media (min-width: 768px) { .d-md-block { display: block !important; } }
@media (min-width: 576px) { .d-sm-block { display: block !important; } }
@media (max-width: 576px) { .d-xs-block { display: block !important; } }

.d-inline-block { display: inline-block !important; }
@media (min-width: 1200px) { .d-xl-inline { display: inline-block !important; } }
@media (min-width: 992px) { .d-lg-inline { display: inline-block !important; } }
@media (min-width: 768px) { .d-md-inline { display: inline-block !important; } }
@media (min-width: 576px) { .d-sm-inline { display: inline-block !important; } }

.d-inline-flex { display: inline-flex !important; }

@media (min-width: 1200px) { .d-xl-flex { display: flex !important; } }
@media (min-width: 992px) { .d-lg-flex { display: flex !important; } }
@media (min-width: 768px) { .d-md-flex { display: flex !important; } }
@media (min-width: 576px) { .d-sm-flex { display: flex !important; } }

@media (min-width: 425px) { .d-425-none { display: none !important; } }
@media (min-width: 425px) { .d-425-block { display: block !important; } }
@media (min-width: 425px) { .d-425-flex { display: flex !important; } }

.justify-content-end { justify-content: flex-end; }
.justify-content-center { justify-content: center; }
.justify-content-star { justify-content: flex-start !important; }
@media (min-width: 992px) { .justify-lg-content-start { justify-content: flex-start !important; } }
@media (min-width: 768px) { .justify-md-content-start { justify-content: flex-start !important; } }
@media (min-width: 576px) { .justify-sm-content-start { justify-content: flex-start !important; } }
@media (min-width: 992px) { .justify-lg-content-end { justify-content: flex-end !important; } }
@media (min-width: 768px) { .justify-md-content-end { justify-content: flex-end !important; } }
@media (min-width: 576px) { .justify-sm-content-end { justify-content: flex-end !important; } }
@media (min-width: 992px) { .justify-lg-content-center { justify-content: center !important; } }
@media (min-width: 768px) { .justify-md-content-center { justify-content: center !important; } }
@media (min-width: 576px) { .justify-sm-content-center { justify-content: center !important; } }

.justify-content-top { justify-content: top !important; }
.justify-space-between { justify-content: space-between !important; }
@media (min-width: 992px) { .justify-lg-space-between { justify-content: space-between !important; } }
.justify-space-around { justify-content: space-around !important; }
.align-items-top { align-items: flex-start !important; }
.align-items-center { align-items: center !important; }
.align-items-end { align-items: flex-end !important; }

// Borders
.bradius-0 { border-radius: 0 !important; }
.bradius-5 { border-radius: 5px !important; }
.bradius-8 { border-radius: 8px !important; }
.bradius-10 { border-radius: 10px !important; }
.bradius-top-8 { border-top-left-radius: 8px; border-top-right-radius: 8px; }
.bradius-left-8 { border-bottom-left-radius: 8px !important; border-top-left-radius: 8px !important; }
.bradius-right-8 { border-bottom-right-radius: 8px !important; border-top-right-radius: 8px !important; }
.bradius-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
.bradius-top-4 { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.bradius-left-4 { border-bottom-left-radius: 4px !important; border-top-left-radius: 4px !important; }
.bradius-right-4 { border-bottom-right-radius: 4px !important; border-top-right-radius: 4px !important; }
.bradius-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.bradius-bottom-6 { border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.bradius-left-0 { border-bottom-left-radius: 0 !important; border-top-left-radius: 0px !important; }
.bradius-right-0 { border-bottom-right-radius: 0 !important; border-top-right-radius: 0px !important; }
.bbottom-0 { border-bottom: 0px !important; }
.border { border: 1px solid #e8e8e8; }
.border-0 { border: 0px; }
.border-top { border-top: 1px solid #e8e8e8; }
.border-bottom { border-bottom: 1px solid #e8e8e8; }
.border-top { border-top: 1px solid #e8e8e8; }
.border-left { border-left: 1px solid #e8e8e8; }
.border-right { border-right: 1px solid #e8e8e8; }
.border-left-0 { border-left: 0 !important; }
.rounded { border-radius: .25rem!important; }
.rounded-md { border-radius: .50rem!important; }
.rounded-lg { border-radius: 12px !important; }
.rounded-xl { border-radius: 181px !important; }
.border-selected { border: 2px solid #1F5183 !important; }

@media (max-width: 576px) { .border-right-xs-0 { border-right: 0px !important } }

// Line heights
.lh-inherit{ line-height: inherit !important; }
.lh-initial{ line-height: initial !important; }

// Floats
.float-none { float: none !important; }
.float-right {float: right !important; }
.float-left {float: left !important; }

//Overflow
.overflow-scroll-y {  overflow-y: scroll; }
@media (min-width: 992px) { .overflow-scroll-y::-webkit-scrollbar {  display: none;  /* Safari and Chrome */ -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */ } }
// Overflow
.overflow-scroll { overflow: scroll; }

// Widths
.w-120 { width: 120px !important; }
.w-128 { width: 128px !important; }
.w-150 { width: 150px !important; }
.w-185 { width: 185px !important; }
.w-320 { width: 320px !important; }
.w-355 { width: 355px !important; }
.mw-330 { max-width: 330px !important; }
.mw-512 { max-width: 512px !important; }
.mw-450 { max-width: 450px !important; }
.mw-400 { max-width: 400px !important; }
.mw-600 { max-width: 600px !important; }
.mw-690 { max-width: 690px !important; }
.w-200 { width: 200px !important }
.w-210 { width: 210px !important; }
.w-240 { width: 240px !important; }
.w-250 { width: 250px !important; }
.w-290 { width: 290px !important; }
.mw-290 { max-width: 290px !important; }
.w-100 { width: 100% !important; }
.maxw-1500 { max-width: 1500px !important; }
.maxw-340 {  max-width: 340px !important }
.minw-240 { min-width: 240px !important; }

@media (min-width: 768px) { 
    .mw-600 { width: 600px !important; }
}

@media (max-width: 576px) {
    .w-xs-100 { width: 100% !important; }
}

// Heights
.h-auto { height: auto !important; }
.h-150 { height: 150px !important; }
.h-140 { height: 140px !important; }
.h-100 { height: 100% !important; }
.h-40 { height: 40px !important; }
.h-48 { height: 48px !important; }
.h-50 { height: 50px !important; }
.h-60 { height: 60px !important; }
.h-80 { height: 80px !important; }
.h-70 { height: 70px !important; }
.h-100 { height: 100% !important; }
.h-10 { height: 10px !important }
.h-0vh { height: 0vh; }
.h-100vh { height: 100vh !important; }
@media(min-width:992px) { .h-lg-100vh { height: 100vh !important; } }

// Images
.img-fluid { max-width: 100%; height: auto; }

// Positions
.position-relative { position: relative; }
@media (min-width: 992px) { .position-lg-relative { position: relative !important; } }
.position-absolute { position: absolute; }
@media (min-width: 992px) { .position-lg-absolute { position: absolute !important; } }
@media (min-width: 768px) { .position-md-absolute { position: absolute !important; } }
.position-fixed { position: fixed; }
.bottom-0 { bottom: 0; }
.top-0 { top: 0 !important; }

// Shadows
.shadow-none { box-shadow: none !important; }
.shadow-sm { box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; }
.shadow-md { box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15) !important; }
.shadow-lg { box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); }

// Z-index
.z-index-1000 { z-index: 10000; }
.z-index-999 { z-index: 999; }

//Orders
.order-2 { order: 2 !important; }
.order-1 { order: 1 !important; }

@media (min-width: 992px) { .order-lg-1 { order: 1 !important; } }
@media (min-width: 992px) { .order-lg-2 { order: 2 !important; } }

//Cursors
.c-pointer { cursor: pointer } 

// List style
.list-none { list-style: none; }

// Text decorations
.underline { text-decoration: underline; }

// Buttons 
.ant-btn.bg-bc-yellow-60 {
    &:hover {
        background-color: #FFE09C !important;
        border-color: #FFE09C !important;
    }
}