// Margins
.mt-0 { margin-top: 0px !important;}
.mr-0 { margin-right: 0px !important; }
.mb-0 { margin-bottom: 0px }
.ml-0 { margin-left: 0px !important; }
.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.m-0 { margin: 0 !important; }

.mb-1 { margin-bottom: 1px !important; }

.mt-5 { margin-top: 5px !important;}
.mr-5 { margin-right: 5px !important; }
.mb-5 { margin-bottom: 5px }
.ml-5 { margin-left: 5px !important; }
.my-5 { margin-top: 5 !important; margin-bottom: 5 !important; }
.mx-5 { margin-left: 5 !important; margin-right: 5 !important; }
.m-5 { margin: 5 !important; }

.mt-10 { margin-top: 10px !important; }
.mr-10 { margin-right: 10px !important; }
.mb-10 { margin-bottom: 10px }
.ml-10 { margin-left: 10px !important; }
.mx-10 { margin-left: 10px !important; margin-right: 10px !important; }
.my-10 { margin-top: 10px !important; margin-bottom: 10px !important; }

.mt-15 { margin-top: 15px !important; }
.mr-15 { margin-right: 15px !important; }
.mb-15 { margin-bottom: 15px }
.ml-15 { margin-left: 15px !important; }
.mx-15 { margin-left: 15px !important; margin-right: 15px !important; }
.my-15 { margin-top: 15px !important; margin-bottom: 15px !important; }

.mt-16 { margin-top: 16px !important; }
.mr-16 { margin-right: 16px !important; }
.mb-16 { margin-bottom: 16px }
.ml-16 { margin-left: 16px !important; }
.mx-16 { margin-left: 16px !important; margin-right: 16px !important; }
.my-16 { margin-top: 16px !important; margin-bottom: 16px !important; }

.mt-20 { margin-top: 20px !important; }
.mr-20 { margin-right: 20px !important; }
.mb-20 { margin-bottom: 20px }
.ml-20 { margin-left: 20px !important; }
.mx-20 { margin-left: 20px !important; margin-right: 20px !important; }
.my-20 { margin-top: 20px !important; margin-bottom: 20px !important; }

.mt-25 { margin-top: 25px !important; }
.mr-25 { margin-right: 25px !important; }
.mb-25 { margin-bottom: 25px }
.ml-25 { margin-left: 25px !important; }
.mx-25 { margin-left: 25px !important; margin-right: 25px !important; }
.my-25 { margin-top: 25px !important; margin-bottom: 25px !important; }

.mt-30 { margin-top: 30px !important; }
.mr-30 { margin-right: 30px !important; }
.mb-30 { margin-bottom: 30px }
.ml-30 { margin-left: 30px !important; }
.mx-30 { margin-left: 30px !important; margin-right: 30px !important; }
.my-30 { margin-top: 30px !important; margin-bottom: 30px !important; }

.mt-35 { margin-top: 35px !important; }
.mr-35 { margin-right: 35px !important; }
.mb-35 { margin-bottom: 35px }
.ml-35 { margin-left: 35px !important; }
.mx-35 { margin-left: 35px !important; margin-right: 35px !important; }
.my-35 { margin-top: 35px !important; margin-bottom: 35px !important; }

.mt-50 { margin-top: 50px !important; }

// Paddings
.pt-0 { padding-top: 0px !important; }
.pr-0 { padding-right: 0px !important; }
.pb-0 { padding-bottom: 0px !important; }
.pl-0 { padding-left: 0px !important; }
.px-0 { padding-left: 0px !important; padding-right: 0px !important; }
.py-0 { padding-top: 0px !important; padding-bottom: 0px !important; }
.p-0 { padding: 0px !important; }

.pt-5 { padding-top: 5px !important; }
.pr-5 { padding-right: 5px !important; }
.pb-5 { padding-bottom: 5px !important; }
.pl-5 { padding-left: 5px !important; }
.px-5 { padding-left: 5px !important; padding-right: 5px !important; }
.py-5 { padding-top: 5px !important; padding-bottom: 5px !important; }
.p-5 { padding: 5px !important; }

.pt-10 { padding-top: 10px !important; }
.pr-10 { padding-right: 10px !important; }
.pb-10 { padding-bottom: 10px !important; }
.pl-10 { padding-left: 10px !important; }
.px-10 { padding-left: 10px !important; padding-right: 10px !important; }
.py-10 { padding-top: 10px !important; padding-bottom: 10px !important; }
.p-10 { padding: 10px !important; }

.pt-15 { padding-top: 15px !important; }
.pr-15 { padding-right: 15px !important; }
.pb-15 { padding-bottom: 15px !important; }
.pl-15 { padding-left: 15px !important; }
.px-15 { padding-left: 15px !important; padding-right: 15px !important; }
.py-15 { padding-top: 15px !important; padding-bottom: 15px !important; }
.p-15 { padding: 15px !important; }

.pt-16 { padding-top: 16px !important; }
.pr-16 { padding-right: 16px !important; }
.pb-16 { padding-bottom: 16px !important; }
.pl-16 { padding-left: 16px !important; }
.px-16 { padding-left: 16px !important; padding-right: 16px !important; }
.py-16 { padding-top: 16px !important; padding-bottom: 16px !important; }
.p-16 { padding: 16px !important; }

.pt-20 { padding-top: 20px !important; }
.pr-20 { padding-right: 20px !important; }
.pb-20 { padding-bottom: 20px !important; }
.pl-20 { padding-left: 20px !important; }
.px-20 { padding-left: 20px !important; padding-right: 20px !important; }
.py-20 { padding-top: 20px !important; padding-bottom: 20px !important; }
.p-20 { padding: 20px !important; }

.pt-25 { padding-top: 25px !important; }
.pr-25 { padding-right: 25px !important; }
.pb-25 { padding-bottom: 25px !important; }
.pl-25 { padding-left: 25px !important; }
.px-25 { padding-left: 25px !important; padding-right: 25px !important; }
.py-25 { padding-top: 25px !important; padding-bottom: 25px !important; }
.p-25 { padding: 25px !important; }

.pt-30 { padding-top: 30px !important; }
.pr-30 { padding-right: 30px !important; }
.pb-30 { padding-bottom: 30px !important; }
.pl-30 { padding-left: 30px !important; }
.px-30 { padding-left: 30px !important; padding-right: 30px !important; }
.py-30 { padding-top: 30px !important; padding-bottom: 30px !important; }
.p-30 { padding: 30px !important; }

.pt-35 { padding-top: 35px !important; }
.pr-35 { padding-right: 35px !important; }
.pb-35 { padding-bottom: 35px !important; }
.pl-35 { padding-left: 35px !important; }
.px-35 { padding-left: 35px !important; padding-right: 35px !important; }
.py-35 { padding-top: 35px !important; padding-bottom: 35px !important; }
.p-35 { padding: 35px !important; }

.pt-40 { padding-top: 40px !important; }
.pr-40 { padding-right: 40px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pl-40 { padding-left: 40px !important; }
.px-40 { padding-left: 40px !important; padding-right: 40px !important; }
.py-40 { padding-top: 40px !important; padding-bottom: 40px !important; }
.p-40 { padding: 40px !important; }

.pt-60 { padding-top: 60px !important; }
.pr-60 { padding-right: 60px !important; }
.pb-60 { padding-bottom: 60px !important; }
.pl-60 { padding-left: 60px !important; }
.px-60 { padding-left: 60px !important; padding-right: 60px !important; }
.py-60 { padding-top: 60px !important; padding-bottom: 60px !important; }
.p-60 { padding: 60px !important; }

.pt-70 { padding-top: 70px !important; }
.pr-70 { padding-right: 70px !important; }
.pb-70 { padding-bottom: 70px !important; }
.pl-70 { padding-left: 70px !important; }
.px-70 { padding-left: 70px !important; padding-right: 70px !important; }
.py-70 { padding-top: 70px !important; padding-bottom: 70px !important; }
.p-70 { padding: 70px !important; }

.pt-80 { padding-top: 80px !important; }
.pr-80 { padding-right: 80px !important; }
.pb-80 { padding-bottom: 80px !important; }
.pl-80 { padding-left: 80px !important; }
.px-80 { padding-left: 80px !important; padding-right: 80px !important; }
.py-80 { padding-top: 80px !important; padding-bottom: 80px !important; }
.p-80 { padding: 80px !important; }

.pt-100 { padding-top: 100px !important; }
.pr-100 { padding-right: 100px !important; }
.pb-100 { padding-bottom: 100px !important; }
.pl-100 { padding-left: 100px !important; }
.px-100 { padding-left: 100px !important; padding-right: 100px !important; }
.py-100 { padding-top: 100px !important; padding-bottom: 100px !important; }
.p-100 { padding: 100px !important; }

//Margin negative 
.mx-n-16 { margin-left: -16px; margin-right: -16px; }
.mx-n-24 { margin-left: -24px !important; margin-right: -24px !important; }
.mb-n-56 { margin-bottom: -56px !important; }

//Margin & padding responsive
@media (min-width: 576px) { .px-sm-0 { padding-left: 0px !important; padding-right: 0px !important; } }
@media (min-width: 992px) { .px-lg-0 { padding-left: 0px !important; padding-right: 0px !important; } }
@media (min-width: 768px) { .pb-md-0 { padding-bottom: 0px !important; } }
@media (min-width: 992px) { .mx-lg-0 { margin-left: 0px !important; margin-right: 0px !important; } }
@media (min-width: 992px) { .mt-lg-0 { margin-top: 0 !important; } }
@media (min-width: 576px) { .mt-sm-0 { margin-top: 0px !important; } }
@media (min-width: 576px) { .mt-sm-10 { margin-top: 10px !important; } }
@media (min-width: 992px) { .mb-lg-0 { margin-bottom: 0 !important; } }
@media (min-width: 768px) { .pt-md-40 { padding-top: 40px !important; } }
@media (min-width: 992px) { .pl-lg-40 { padding-left: 40px !important; } }
@media (min-width: 768px) { .pl-md-40 { padding-left: 40px !important; } }
@media (min-width: 992px) { .pr-lg-40 { padding-right: 40px !important; } }
@media (min-width: 768px) { .pr-md-40 { padding-right: 40px !important; } }
@media (min-width: 992px) { .py-lg-100 { padding-top: 100px !important; padding-bottom: 100px !important; } }
@media (min-width: 768px) { .pb-md-60 { padding-bottom: 60px !important; } }
@media (min-width: 576px) { .py-sm-60 { padding-bottom: 60px !important; padding-top: 60px !important; } }
@media (min-width: 576px) { .pb-sm-60 { padding-bottom: 60px !important; } }
@media (min-width: 992px) { .pt-lg-70 { padding-top: 70px !important; } }