/// First Typography: Nunito Sans
body {
    font-family: 'Poppins', sans-serif !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-display: fallback;
  }

// Typography style
// Headings
h1 { font-size: 48px ; font-weight: 700 ; }
h2 { font-size: 36px ; font-weight: 700 ; }
h2.b {font-size: 28px; font-weight: 700; }
h3 { font-size: 24px ; font-weight: 600 ; }
h4 { font-size: 18px ; font-weight: 600 ; }
h5 { font-size: 16px ; font-weight: 600 ; }
h6 { font-size: 14px ; font-weight: 700 ; }

// Paragraphs
p { font-size: 14px; font-weight: 300; }
p.sm { font-size: 13px; font-weight: 300; }
p.xs { font-size: 11px; font-weight: 300; }

//Captions
.caption-high { font-size: 14px; font-weight: 700; }
.caption-low { font-size: 14px; font-weight: 300; }

//Links
a { font-size: 14px; font-weight: 600; }
a:hover { text-decoration: underline; }

// Weight and italics
.font-weight-300 { font-weight: 300 !important; }
.font-weight-400 { font-weight: 400 !important; }
.font-weight-500 { font-weight: 500 !important; }
.font-weight-600 { font-weight: 600 !important; } 
.font-weight-700 { font-weight: 700 !important; }
.font-weight-800 { font-weight: 800 !important; }
.font-weight-900 { font-weight: 900 !important; }

// Font sizes
.f-11 { font-size: 11px !important; }
.f-14 { font-size: 14px !important; }
.f-16 { font-size: 16px !important; }
.f-18 { font-size: 18px !important; }
.f-20 { font-size: 20px !important; }
.f-22 { font-size: 22px !important; }
.f-24 { font-size: 24px !important; }
.f-28 { font-size: 28px !important; }
.f-32 { font-size: 32px !important; }
.f-40 { font-size: 40px !important; }

// Text align
.text-left { text-align: left; }
@media (min-width: 992px) { .text-lg-left { text-align: left !important;} }
@media (min-width: 768px) { .text-md-left { text-align: left !important;} }
.text-right { text-align: right; }
@media (min-width: 768px) { .text-md-right { text-align: right !important;} }
.text-center { text-align: center; }
@media (min-width: 992px) { .text-lg-center { text-align: center !important;} }
@media (min-width: 768px) { .text-md-center { text-align: center !important;} }
@media (min-width: 576px) { .text-sm-center { text-align: center !important;} }
.text-justify { text-align: justify; }

// Text decorations
.text-underline { text-decoration: underline; }
.text-through { text-decoration: line-through; }
.text-none { text-decoration: none !important; }

// Line heights
.lh-100 { line-height: 1; }
.lh-110 { line-height: 1.1; }
.lh-120 { line-height: 1.2; }
.lh-130 { line-height: 1.3; }
.lh-140 { line-height: 1.4; }
.lh-150 { line-height: 1.5; }
.lh-160 { line-height: 1.6; }
.lh-170 { line-height: 1.7; }
.lh-180 { line-height: 1.8; }

// Letter spacings
.ls-1 { letter-spacing: .0625rem; }
.ls-15 { letter-spacing: .09375rem; }
.ls-2 { letter-spacing: 0.125rem; }