<section class="h-lg-100vh about-us d-flex align-items-center justify-content-left color-neutral-0">
  <div>
    <h2 class="font-weight-600 mb-0 color-neutral-0">Quiénes somos</h2>
     <p class="mt-56 font-weight-300 f-20">Somos una consultora especializada en soluciones digitales para realizar cobros y pagos
      <br class="d-none d-lg-block"> entre miembros de un ecosistema de negocio, ayudándolos a integrar la gestión de sus
      <br class="d-none d-lg-block"> transacciones y la información asociada al origen del movimiento de fondos.</p> 
     <p class="mt-56 font-weight-300 f-20">Nuestra propuesta integra un equipo altamente especializado, plataformas tecnológicas
        <br class="d-none d-lg-block"> probadas en diferentes industrias y alianzas estratégicas que nos permiten diseñar y 
        <br class="d-none d-lg-block"> construir la solución digital más flexible y segura para tu organización.</p>    
  </div>
</section>
