<div class="bg-bc-black-30">
  <div nz-row class="info-help d-flex align-items-center justify-content-center justify-lg-space-between container pt-48 pb-56">
    <div nz-col nzSm="24" nzMd="24" nzLg="24" class="text-center">
      <h3 class="f-32 mb-16 color-neutral-0">Contactanos para saber más </h3>
      <a href="mailto:info@bcloud.com.ar" class="f-24 font-weight-400 color-neutral-0">info@bcloud.com.ar</a>
    </div>
  </div>
</div>

