@media (max-width: 992px) {
  .info-help {
    padding-top: 80px;
    padding-bottom: 80px;

    & .contact-img {
      margin-top: 32px;
    }
  }
}

@media (max-width: 576px) {
  .contact-img {
    width: 100%;
  }
}

.bg-bc-black-30 {
  border-bottom: 1px solid #ffffff;
}
