@each $color, $value in $colors {
	@include border-color-variant(".b-#{$color}", $value);
}

@each $color, $value in $colors {
	@include border-color-left-variant(".bl-#{$color}", $value);
}

@each $color, $value in $colors {
	@include border-color-right-variant(".br-#{$color}", $value);
}

@each $color, $value in $colors {
	@include border-color-top-variant(".bt-#{$color}", $value);
}

@each $color, $value in $colors {
	@include border-color-bottom-variant(".bb-#{$color}", $value);
}