// The 8 point grid
// variable initialization
$loop-begin-8-grid: 0 !default;
$loop-end-8-grid: 160 !default;
$interval: 8 !default;

// sub-property: abbreviation
$properties: (margin: m, padding: p);
$sides: (top: t, bottom: b, left: l, right: r);
$sidesy: top, bottom;
$sidesx: left, right;

// loop
$cursor: $loop-begin-8-grid;

@while $cursor <= $loop-end-8-grid {
  @each $prop, $name in $properties {
    .#{$name}-#{$cursor} {
      #{$prop}: #{$cursor}px !important;
    }

    @each $side, $subname in $sides {
      .#{$name}#{$subname}-#{$cursor} {
        #{$prop}-#{$side}: #{$cursor}px !important;
      }
    }

    .#{$name}y-#{$cursor} {
      @each $side in $sidesy {
        #{$prop}-#{$side}: #{$cursor}px !important;
      }
    }

    .#{$name}x-#{$cursor} {
      @each $side in $sidesx {
        #{$prop}-#{$side}: #{$cursor}px !important;
      }
    }
  }

  $cursor: $cursor + $interval;
}