@media (min-width: 992px) {
  .hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;

    .overlay {
      width: 100%;
      background: linear-gradient(90deg, rgba(26, 23, 27, 1) 30%,
      rgba(26, 23, 27, 0.6306897759103641) 65%, rgba(0, 0, 1, 0.23853291316526615) 88%, rgba(0, 0, 1, 0) 100%),
        url('./../../../../assets/images/bg/[bg]banner.png') !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: right, 72% !important;

      .content {
        flex-direction: column;
        height: 100vh;

        & .content-text {
          width: 450px;
        }
      }
    }
  }
}

.overlay {
  position: initial;

  .content {
    flex-direction: column;
    height: 100vh;

    & .content-text {
      width: 380px;
    }
  }
}

@media (max-width: 500px) {
  .content-text {
    width: 100% !important;
  }
}
