<!-- Banner -->
<section class="hero bg-bc-black-30 h-lg-100vh">
  <div class="overlay">
    <div class="container px-0 content d-flex justify-content-center">
      <div nz-row class="d-flex justify-space-between align-items-center px-16">
        <div nz-col>
          <div class="content-text">
            <h1 class="mb-8 lh-120 color-neutral-0 font-weight-600">Digitalizá tu proceso de cobros y pagos</h1>
            <p class="f-20 lh-140 mb-0 color-neutral-0">Bcloud facilita la gestión para armar el <br class="d-none d-md-block">ecosistema
              transaccional de tu empresa</p>
              <button nz-button nzType="primary"
              class="bg-bc-yellow-60 b-bc-yellow-60 color-neutral-100 mt-40 w-150 h-40 rounded"><a href="#nosotros"
                class="text-none f-16 font-weight-700">Saber más</a></button>
          </div>
        </div>
<!--         <div nz-col class="d-none d-lg-block">
          <img src="./assets/images/illustrations/banner_illustration.svg" alt="" width="570">
        </div> -->
      </div>
    </div>
  </div>
</section>
