// Contextual borders color
@mixin border-color-variant($parent, $color) {
    #{$parent} {
        border-color: $color !important;
    }
}

@mixin border-color-left-variant($parent, $color) {
    #{$parent} {
        border-left-color: $color !important;
    }
}

@mixin border-color-right-variant($parent, $color) {
    #{$parent} {
        border-right-color: $color !important;
    }
}

@mixin border-color-top-variant($parent, $color) {
    #{$parent} {
        border-top-color: $color !important;
    }
}

@mixin border-color-bottom-variant($parent, $color) {
    #{$parent} {
        border-bottom-color: $color !important;
    }
}
