@media (min-width:1200px) and (max-width: 1650px) {
  .navbar-shape {
    display: block !important;
  }
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #007DFA;
}

//Trigger (el cual no es necesario porque estaba pegado al sider)

::ng-deep .ant-layout-sider-zero-width-trigger {
  display: none !important;
}

.closeNav {
  color: rgba(255, 255, 255, 0.65);
  ;
}
