<div class="container container-navbar py-5">
  <div nz-row class="d-flex">
    <div nz-col nzXs="18" nzLg="4"
      class="order-lg-1 order-2 d-flex justify-content-end justify-lg-content-start align-items-center">
      <a href="#banner"><img class="c-pointer logo-navbar" src="./assets/images/logos/logo_bcloud.svg" alt="Bcloud"></a>
    </div>
    <div nz-col nzLg="20" nzXs="6" class="order-1 order-lg-2 d-flex justify-content-start justify-lg-content-end">
      <ul nz-menu nzMode="horizontal"
        class="bbottom-0 lh-inherit trigger bg-transparent float-right d-lg-block d-none color-neutral-0 f-16">
        <li nz-menu-item class="bbottom-0"><a href="#nosotros" class="f-16 color-neutral-0 text-none">Quienes Somos</a>
        </li>
        <li nz-menu-item class="bbottom-0"><a href="#beneficios" class="f-16 color-neutral-0 text-none">Servicios</a>
        </li>
        <li nz-menu-item class="bbottom-0 pr-0"><button nz-button nzType="link"
          class="f-16 color-neutral-0"><a href="https://www.paycloud.com.ar/a/app/Webforms/Account/Views/Index.aspx"  target="_blank"
            class="text-none f-16 mt-4">Paycloud</a></button></li>
        <li nz-menu-item class="bbottom-0 pr-0"><button nz-button nzType="link"
            class="f-16 color-neutral-0"><a href="https://paycloud.com.ar/b"  target="_blank"
              class="text-none f-16 mt-4">Paycloud +</a></button></li>
      </ul>
      <div class="d-block d-lg-none float-left">
        <i class="color-neutral-0 c-pointer f-22" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="navbarClick()"></i>
      </div>
    </div>
  </div>
</div>

<!-- Sidenav -->
<nz-layout [class.h-0vh]="!isCollapsed">
  <nz-sider nzCollapsible nzWidth="260px" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'"
    [nzCollapsedWidth]="0" class="position-fixed top-0 d-lg-none">
    <div class="d-flex justify-content-end">
      <i (click)="closeNavbar()" nz-icon nzType="close" nzTheme="outline" class="f-18 px-10 pt-10 pb-8 closeNav"></i>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" class="h-100vh sg-blue-70" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <a class="text-none" href="#nosotros"><span><i nz-icon nzType="team" nzTheme="outline"></i>Quienes Somos</span></a>
      </li>
      <li nz-menu-item>
        <a class="text-none" href="#beneficios"><span><i nz-icon nzType="check-circle"
              nzTheme="outline"></i>Servicios</span></a>
      </li>
      <li nz-menu-item>
        <a class="text-none" href="https://www.paycloud.com.ar/a/app/Webforms/Account/Views/Index.aspx" target="_blank"><span><i nz-icon nzType="user" nzTheme="outline"></i>Ir a Paycloud</span></a>
      </li>
      <li nz-menu-item>
        <a class="text-none" href="https://paycloud.com.ar/b" target="_blank"><span><i nz-icon nzType="user" nzTheme="outline"></i>Ir a Paycloud +</span></a>
      </li>
    </ul>
  </nz-sider>
</nz-layout>
