<nz-layout>
    <nz-header id="navbar" class="bg-transparent position-absolute w-100 z-index-999"><app-navbar></app-navbar></nz-header>
    <nz-content class="bg-neutral-0"><router-outlet></router-outlet></nz-content>
    <nz-footer class="bg-bc-black-30"><app-footer></app-footer></nz-footer>
  </nz-layout>
  