<section class="h-lg-100vh features d-flex align-items-center justify-content-center">
  <div class="w-100">
    <div class="text-center mb-112">
      <h3 class="f-28 mb-0">Soluciones & Herramientas para<br class="d-none d-md-block"> hacer crecer tu negocio</h3>
    </div>
    <div nz-row class="text-center mt-48">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" class="mb-35 mb-lg-0 d-flex justify-content-center">
        <div class="border b-grey-5 features-card py-64 px-8 rounded-lg shadow-lg">
          <div class="mb-48">
            <img class="img-fluid" src="./assets/images/illustrations/circle_illustration.svg" alt="">
          </div>
          <h3 class="mb-0 font-weight-300">Ofrecemos soluciones<br>de gestión<br>innovadoras</h3>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" class="mb-35 mb-lg-0 d-flex justify-content-center">
        <div class="border b-grey-5 features-card py-64 px-8 rounded-lg shadow-lg">
          <div class="mb-48 d-flex justify-content-center align-items-end">
            <img class="img-fluid" src="./assets/images/illustrations/graphic_illustration.svg" alt="">
          </div>
          <h3 class="mb-0 font-weight-300">Brindamos herramientas<br>tecnológicas de control<br>financiero</h3>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" class="mb-35 mb-lg-0 d-flex justify-content-center">
        <div class="border b-grey-5 features-card py-64 px-8 rounded-lg shadow-lg">
          <div class="mb-48 d-flex justify-content-center align-items-end">
            <img class="img-fluid" src="./assets/images/illustrations/filled-circle_illustration.svg" alt="">
          </div>
          <h3 class="mb-0 font-weight-300">Ayudamos a<br>rentabilizar y a hacer<br>crecer tu negocio</h3>
        </div>
      </div>
    </div>
  </div>
</section>
