.ant-layout-header {
  height: auto !important;
  padding: 0 !important;
}
.ant-menu-horizontal > {
   .ant-menu-item {
     a {
      &:hover {
        color: #FFE09C !important;
      }
    }
  }
}

.ant-layout-sider {
  background: #000000;
}

.ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark {
  background: #000000;
}