<section class="h-lg-100vh benefits bg-bc-black-30">
  <div class="container">
    <h2 class="font-weight-600 mb-0 color-neutral-0">Servicios</h2>
    <h5 class="f-20 color-neutral-0 mb-32 mt-16 font-weight-300">La billetera para tu empresa</h5>
  </div>
  <div class="container d-flex align-items-center justify-content-center justify-lg-space-between container ant-row">
    <!-- <h3 class="f-40 text-center color-neutral-0 mb-56">Operá en la nueva economía digital
    </h3> -->
    <div nz-col nzSm="24" nzMd="24" nzLg="10" class="d-flex justify-content-center justify-lg-content-start">
      <img class="contact-img" src="./assets/images/illustrations/service_banner.png" alt="">
    </div>
    <div nz-col nzSm="24" nzMd="24" nzLg="14">
      <div class="mb-16">
        <img src="assets/images/logos/paycloud_blanco.png" alt="Paycloud" style="height: 48px;">
      </div>
    <h5 class="f-20 color-neutral-0 mb-16 mt-16 font-weight-300">Una plataforma cloud para operar en la nueva economía digital.</h5>
    <div nz-row class="d-flex justify-space-between align-items-center">
      <div nz-col nzSm="24" nzMd="24" nzLg="24" class="d-flex align-items-center justify-content-start">
        <ul class="list-none pl-0 mb-0 color-neutral-0" style="max-width: 546px;">
          <div class="d-inline-flex justify-content-left mb-16 w-100">
            <div nz-col class="">
              <img class="mr-8" src="./assets/images/illustrations/ellipse.svg" alt="">
            </div>
            <div nz-col>
              <li class="f-20 font-weight-300 text-justify">Reduce costos asociados a modelos actuales de cobro y pago</li>
            </div>
          </div>
          <div class="d-inline-flex justify-content-left mb-16 w-100">
            <div nz-col class="">
              <img class="mr-8" src="./assets/images/illustrations/ellipse.svg" alt="">
            </div>
            <div nz-col>
              <li class="f-20 font-weight-300 text-justify">Mejora trazabilidad y agilidad en la gestión de fondos</li>
            </div>
          </div>
          <div class="d-inline-flex justify-content-left mb-16 w-100">
            <div nz-col class="">
              <img class="mr-8" src="./assets/images/illustrations/ellipse.svg" alt="">
            </div>
            <div nz-col>
              <li class="f-20 font-weight-300 text-justify">Provee las bases para la digitalización de las relaciones entre actores</li>
            </div>
          </div>
          <div class="d-inline-flex justify-content-left w-100">
            <div nz-col class="">
              <img class="mr-8" src="./assets/images/illustrations/ellipse.svg" alt="">
            </div>
            <div nz-col>
              <li class="f-20 font-weight-300 text-justify">Integra servicios financieros de terceros para ayudar al desarrollo del negocio de cada miembro del ecosistema</li>
            </div>
          </div>
        </ul>
      </div>
    </div>
    </div>
    
    
    
  </div>
</section>
