<app-banner id="banner"></app-banner>
<div class="bg-bc-black-30">
  <div class="container">
    <app-about-us id="nosotros"></app-about-us>
    <!-- <app-features id="caracteristicas"></app-features> -->
  </div>
</div>

<app-benefits id="beneficios"></app-benefits>
<app-info-help id="contacto"></app-info-help>
