<div class="container py-40">
  <p class="color-neutral-0 mt-0 sm">
    Bcloud S.A. no es un banco ni una entidad financiera de la Ley Nro. 21.526. Bcloud S.A. se limita a ofrecer servicios de pago y no se encuentra autorizada a operar como entidad financiera por el Banco Central de la República Argentina. Los fondos depositados en las cuentas de bcloud no constituyen depósitos en una entidad financiera, ni cuentan con ninguna de las garantías que tales depósitos puedan gozar de acuerdo con la legislación y reglamentación aplicables en materia de depósitos en entidades financieras.
  </p>
  <h5 class="color-neutral-0 mb-0">2020 Bcloud S.A. Todos los derechos reservados</h5>
</div>
